@import '../../variables.scss';

.devInfo {
  // position: fixed;
  // bottom: 2%;
  width: 100%;
  margin-top: 100px;
}

.fa-linkedin {
  font-size: 40px;
  color: rgba(black, 1);
  padding-top: 3px;
  // padding: 0 20px;
  // margin-right: 20%;
}

.fa-github {
  font-size: 50px;
  color: rgba(black, 1);
  // padding: 0 20px;
  // margin-left: 20%;
}

.fa-github:hover,
.fa-linkedin:hover {
  color: rgba(black, 1);
}

.linkBody {
  // padding: 0 0 20px 0 !important;
  padding: 0 !important;
}

.devImg {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card-img-top {
  height: 50% !important;
  // width: 50% !important;
  vertical-align: middle !important;
  border-radius: 18px !important;
}

.devName {
  padding: 5px 30px;
}

.card-img-overlay {
  bottom: 0 !important;
  top: 92%;
  padding: 0;
}

.btn-circle {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  font-size: 10px;
  margin: 5px;
  text-align: center;
  background-color: rgba(whitesmoke, 0.7);
  // border: 1px solid black;
  box-shadow: $boxShadow1;
}

.dev {
  padding: 10px;
  color: #000 !important;
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

.dev:hover {
  background-color: rgba($fontColor2, 0.2) !important;
}

.msg-icn {
  display: inline-block;
  position: relative;
  padding: 10px 20px;
  color: #fff;
  box-sizing: border-box;
  max-width: 300px;
  min-width: 80px;
  min-height: 38px;
}
.msg-icn:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #e5a002;
  border-radius: 2px;
  box-sizing: border-box;
  clip-path: polygon(
    0% 105%,
    0% 0%,
    105% 0%,
    105% 105%,
    43px 105%,
    43px 80%,
    21px 80%,
    21px 105%
  );
}
.msg-icn:after {
  content: '';
  position: absolute;
  display: block;
  width: 25px;
  height: 20px;
  background: #e5a002;
  top: calc(100% - 1px);
  left: 20px;
  box-sizing: border-box;
  clip-path: polygon(
    0 0,
    0% 100%,
    100% 0%,
    calc(100% - 2px) 0,
    1px calc(100% - 2px),
    1px 0
  );
}
