@import '../../variables.scss';

.devInfo {
  width: 100%;
  margin-top: 150px;
}

.fa-linkedin {
  font-size: 30px;
  color: rgba(black, 1);
  padding-top: 3px;
}

.fa-github {
  font-size: 40px;
  color: rgba(black, 1);
}

.fa-github:hover,
.fa-linkedin:hover {
  color: rgba(black, 1);
}

.c1 {
  animation-name: hop;
  animation-duration: 2s;
  animation-delay: 0;
}

.c2 {
  animation-name: hop;
  animation-duration: 2s;
  animation-delay: 2s;
}
.c3 {
  animation-name: hop;
  animation-duration: 2s;
  animation-delay: 4s;
}
.c4 {
  animation-name: hop;
  animation-duration: 2s;
  animation-delay: 6s;
}

@keyframes hop {
  0% {
    bottom: 0px;
  }

  50% {
    bottom: 20px;
  }
  75% {
    bottom: -10px;
  }

  100% {
    bottom: 0;
  }
}

.card-img-top {
  height: 50% !important;
  // width: 50% !important;
  vertical-align: middle !important;
  border-radius: 18px !important;
}

.devName {
  padding: 5px 25px;
}

.card-img-overlay {
  bottom: 0 !important;
  top: 92%;
  padding: 0;
}

.btn-circle {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  font-size: 10px;
  margin: 5px;
  text-align: center;
  // background-color: rgba(whitesmoke, 0.7);
  background-image: $gradientOrange;
  // border: 1px solid black;
  box-shadow: $boxShadow1;
}

.dev {
  padding: 10px;
  color: #000 !important;
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
  margin: 0 2% 2% 2%;
}

.imgCard {
  justify-content: center;
  height: auto;
  width: 40%;
  margin: 0 auto 0 auto;
  display: block;
}

.dev:hover {
  background-color: rgba($fontColor2, 0.2) !important;
}

@media screen and(max-width:1200px) {
  .devName {
    font-size: 0.9em !important;
  }
  .imgCard {
    width: 80%;
  }

  .btn-circle {
    width: 25px;
    height: 25px;
  }
  .fa-linkedin {
    font-size: 20px;
  }

  .fa-github {
    font-size: 25px;
  }
}

@media screen and(max-width:560px) {
  .devName {
    font-size: 0.9em !important;
  }
  .imgCard {
    width: 40%;
  }

  .btn-circle {
    width: 25px;
    height: 25px;
  }
  .fa-linkedin {
    font-size: 20px;
  }

  .fa-github {
    font-size: 25px;
  }
}

@media screen and(min-width:1200px) {
  .devName {
    font-size: 0.9em !important;
  }
  .imgCard {
    width: 50%;
    margin-bottom: 10px;
  }

  .btn-circle {
    width: 35px;
    height: 35px;
  }
  .fa-linkedin {
    font-size: 30px;
  }

  .fa-github {
    font-size: 35px;
  }
}
