.logout {
  color: black;
  /* background-color:#ffd6ba; */
  background-color:#f7882f;
  opacity: .8;
  box-shadow: none!important
}

.logout:hover {
  color: white;
  background-color:#f7882f;
  opacity: 1;
}

.greeting{
  color: white
}

.nav-link:hover{
  color: #f7c331!important
}

.navbar{
  background-color: transparent!important
}

