.logout {
  color: black;
  /* background-color:#ffd6ba; */
  background-color:#d67d7a;
  box-shadow: none!important
}

.logout:hover {
  color: white;
  background-color: #a2cabc;
}

.greeting{
  color: white
}

.nav-link:hover{
  color: #bee3db!important
}


