@import '../../variables.scss';

.logout {
  color: $fontColor1;
  /* background-color:#ffd6ba; */
  background-image: $gradientOrange;
  opacity: 0.8;
  box-shadow: none !important;
}

.logout:hover {
  color: $fontColor2;
  background-color: $primaryColor2;
  opacity: 1;
}

.greeting {
  color: $navAndJumboFont;
}

.nav-link:hover {
  color: $primaryColor2 !important;
}

.navbar {
  background-color: transparent !important;
  color: $navAndJumboFont;
}
