@import '../../variables.scss';

.logout {
  color: $fontColor1;
  background-image: $gradientOrange;
  opacity: 0.8;
  box-shadow: none !important;
}

.logout:hover {
  background-image: $gradientOrangeHover;
  opacity: 1;

  .fa-eject {
    color: $orange-red;
  }
}

.greeting {
  color: $navAndJumboFont;
}

.nav-link:hover {
  color: $primaryColor2 !important;
}

.navbar {
  background-color: transparent !important;
  color: $navAndJumboFont;
}
