.logout {
  color: black;
  background-color:#ffd6ba;
  box-shadow: none!important
}

.logout:hover {
  color: white;
  background-color: #d6947a;
}

.greeting{
  color: white
}

.nav-link:hover{
  color: #bee3db!important
}


