body {
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
  /* background-color: whitesmoke; */
  background-color: #FFF6F1;
  font-family: 'Raleway', sans-serif;
}

.location-search-input {
  width: 250px;
}

h1,h2,h3,h4,h5,h6,
.navbar,
.btn{
  font-family: 'Raleway', sans-serif;
}

.btn{
  opacity: .8;
  box-shadow: 3px 3px 3px #ccc
}

.btn:hover{
  opacity: 1
}

a:hover{
  color: black
}

svg{
  box-shadow: 1px 1px 2px 1px #ccc;
  background-color:whitesmoke

}


