$green1: #2a9d8f;
$orange1: #d6947a;
$orange-red: #cc3e07;
$purple: #8363a1;
$blue: #74a8c3;
$fontColor1: black;
$fontColor2: whitesmoke;

$navAndJumboFont: whitesmoke;
$borderRadius: 5px;
$primaryColor1: #6b7a8f;
$primaryColor2: #f7c331;
$primaryColor3: #f7882f;
$primaryColor4: #dcc7aa;
$primaryColor5: whitesmoke;

$gradientBluePurple: linear-gradient(135deg, $purple 0%, $blue 100%);
$gradientWhitePurple: linear-gradient(
  135deg,
  $purple 4%,
  whitesmoke 60%,
  whitesmoke 100%
);
$gradientOrange: linear-gradient(
  to right,
  $primaryColor3 0%,
  $primaryColor2 60%,
  $primaryColor3 100%
);
$gradientOrangeHover: linear-gradient(
  135deg,
  $primaryColor2 0%,
  $primaryColor3 100%
);
$gradientOrange2: linear-gradient(to top left, $primaryColor3, $primaryColor2);
$gradientBlue: linear-gradient(to top left, #37d5d6, #3c3fcc);
$gradientBlack: linear-gradient(to top left, whitesmoke, black);
$gradientPink: linear-gradient(to right, #dd5e89 0%, #f7bb97 51%, #dd5e89 100%);
$gradientGreen: linear-gradient(
  to bottom right,
  $primaryColor1 0%,
  $primaryColor1 50%,
  $primaryColor2 100%
);
$gradientRed: linear-gradient(
  to right,
  $orange-red 0%,
  $orange-red 10%,
  $primaryColor2 100%
);
$gradient3: linear-gradient(to right, #fa6c9f 0%, #ffe140 80%, #ffe140 100%);
$mainFontFamily: 'Raleway', sans-serif;

$boxShadow1: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.19);
$boxShadow2: 0 4px 4px 0 rgba($purple, 0.2), 0 4px 4px 0 rgba($purple, 0.19);
$boxShadow3: 0 4px 4px 0 rgba($primaryColor2, 0.2),
  0 4px 20px 0 rgba($primaryColor2, 0.19);

$redShadow: 0 2px 6px 0 #cc3e07, 0 2px 8px 0 #cc3e07;
