$green1: #2a9d8f;
$orange1: #d6947a;
$orange-red: #cc3e07;


$fontColor1: black;
$fontColor2: whitesmoke;

$navAndJumboFont: whitesmoke;

$primaryColor1: #6b7a8f;
$primaryColor2: #f7882f;
$primaryColor3: #f7c331;
$primaryColor4: #dcc7aa;
$primaryColor5: whitesmoke;

// $primaryColor1: #264653;
// $primaryColor2: #f4a261;
// $primaryColor3: #e9c46a;
// $primaryColor4: #2a9d8f;



$mainFontFamily: 'Raleway', sans-serif;

