

.about-title {
  font-size: 4rem;
  color: white;
}

.about-container {
  margin-top: 50px;
}

.card-body-about {
  font-size: 1.25rem;
  text-align: center;
}

h5 {
  font-size: 1.5rem !important;
}
