/* old version */
.jumbotron{
  height: auto;
  color: white;
  font-size: 4rem;
  text-shadow: 1px 1px 1px #a2cabc;
  clear: both; 
  padding-top: 20px;
  text-align: center;
  margin-bottom: auto;
  background-color: transparent!important;


  /* background: linear-gradient(#a2cabc, #FFF6F1); */
  /* background-color: #fff6f1; */
  /* background-image: url("./jeremy-lapak-CVvFVQ_-oUg-unsplash.jpg")!important; */
  /* background-size: cover; */
  /* border-bottom: black 2px solid; */
  /* box-shadow: 3px 2px 3px #ccc */
  /* opacity: .8;*/
  
}

/* new version */
/* .jumbotron{
  color: white;
  font-size: 4rem;
  opacity: .6;
  text-align: center;
  background: url("bgIMG.jpg") no-repeat center center fixed;
  height: 350px;
} */