.col-md-6,
.col-md-12{
  /* padding-right: 0!important; */
  /* padding-left: 0!important */
}

.card{
  /* box-shadow: 1px 1px 1px 1px #ccc;  */
  background-color: #fffaf8!important;
  border-radius: 0!important;
  border: 3px solid transparent;
  border-image: linear-gradient(to right, #a2cabc, #ffd6ba);
  border-image-slice: 1; 
}

.card-header{
  background-color: #adcec0;
  /* color: whitesmoke; */
  /* text-shadow: 1px 1px 1px #ffd6ba; */
 
}

h5{
  font-family: 'Raleway', sans-serif
}
