@import "../../variables.scss";

.col-md-6,
.col-md-12{
  /* padding-right: 0!important; */
  /* padding-left: 0!important */
}

.card{
  // box-shadow: 1px 1px 1px 1px $primaryColor3;
  background-color:rgba($primaryColor5, .8)!important;
  // background-color: linear-gradient($primaryColor3, $primaryColor4)!important;
  /* background-color:rgba(220, 199,170, .2)!important; */
  /* opacity: .9; */
  /* background-color: #FFFbf9!important; */
  border-radius: 25px!important;
  border: 1px solid $primaryColor3;
  /*border-image: linear-gradient(to right, #f7c331, #dcc7aa);
  border-image-slice: 1;  */
} 

.card-header{
  background-color: $primaryColor3;
  border-radius: 25px!important;
  color: $fontColor1;
  /* text-shadow: 1px 1px 1px #ffd6ba; */
 
}

h5{
  font-family: 'Raleway', sans-serif
}

.card:hover{
  /* border: 2px solid transparent;
  border-image: linear-gradient(to left, #a2cabc, #e1ede9);
  border-image-slice: 1; */
  /* box-shadow: 1px 1px 5px 3px #3a4452;  */
  /* background-color:rgba(220, 199,170, .4)!important; */
  background-color:rgba($primaryColor5, .9)!important;

}

/* .card{
  box-shadow: 1px 1px 1px 1px #ccc; 
  background-color: #9dcbb3!important;
  border-radius: 0!important;
  border: 7px solid transparent;
  border-image: linear-gradient(to right, #84bea0, #fdf28c);
  border-image-slice: 1; 
} 

.card-header{
  background-color: #84bea0;
  /* color: whitesmoke; */
  /* text-shadow: 1px 1px 1px #ffd6ba;
 
} */