.accept{
  background-color: #a2cabc
}

.deny{
  background-color: #EECAC9!important;
  color: black!important
}

.wereChallenged{
  /* background-color: #ffe5d9!important */
  border: 3px solid #EECAC9!important
}

.areChallenging{
  /* background-color:#ffe5d9!important; */
border:3px solid #adcec0!important
}