.accept{
  background-color: #d6947a
}

.deny{
  color: #d6947a
}

.wereChallenged{
  /* background-color: #ffe5d9!important */
  border: 3px solid #d6947a!important
}

.areChallenging{
  /* background-color:#ffe5d9!important; */
border:3px solid #adcec0!important
}