.accept{
  background-color: #a2cabc
}

.deny{
  background-color: #EECAC9!important;
  color: black!important
}

.wereChallenged{
  /* background-color: #ffe5d9!important */
  border: 1px solid #f7882f!important
}

.areChallenging{
  /* background-color:#ffe5d9!important; */
border:1px solid #6b7a8f!important
}