@import '../../variables.scss';

.accept {
  background-image: $gradientBluePurple;
  color: $fontColor2;
}

.accept:hover {
  .fa-check {
    color: $green1;
  }
}

.deny:hover {
  box-shadow: $redShadow;
  .fa-ban {
    color: $orange-red;
  }
}

.wereChallenged {
  border: 1px solid $primaryColor3 !important;
}

.areChallenging {
  border: 1px solid $primaryColor2 !important;
}

.enterOutcome {
  background-image: $gradientOrange;
  margin: 0;
}
