@import '../../variables.scss';

.accept {
  // border-color: $green1;
  // color: $green1;
  background-image: $gradientBluePurple;
  color: $fontColor2;
}

.deny:hover {
  box-shadow: $redShadow;
  color: $orange-red;
}

.wereChallenged {
  border: 1px solid $primaryColor3 !important;
}

.areChallenging {
  border: 1px solid $primaryColor2 !important;
}

.enterOutcome {
  background-image: $gradientOrange;
  margin: 0;
}
