@import "../../variables.scss";


.start-challenge{
  background-color: $primaryColor3!important;
  /* background-color: #ffd6ba!important;
  background-color: #fdf28c!important; */

}

.start-challenge:hover{
  background-color: $primaryColor2!important;
  /* background-color: #ffd6ba!important;
  background-color: #fdf28c!important; */

}

.deleteBtn{
  color: $orange-red;
  /* margin: 20px */
}

.updateBtn{
  background-color: $primaryColor4!important;
  margin: 20px

}

