.start-challenge{
  background-color: #f7c331!important;
  /* background-color: #ffd6ba!important;
  background-color: #fdf28c!important; */

}

.start-challenge:hover{
  background-color: #F7882F!important;
  /* background-color: #ffd6ba!important;
  background-color: #fdf28c!important; */

}

.deleteBtn{
  color: #d67d7a!important;
  /* margin: 20px */
}

.updateBtn{
  background-color: #89b0ae!important;
  margin: 20px

}

