#start-challenge{
  background-color: #d6947a!important;
  margin: 20px
}

.deleteBtn{
  background-color: #d6947a!important;
  margin: 20px
}

.updateBtn{
  background-color: #d6947a!important;
  margin: 20px

}