#start-challenge{
  background-color: #ffd6ba!important;
  margin: 20px
}

.deleteBtn{
  color: #d67d7a!important;
  /* margin: 20px */
}

.updateBtn{
  background-color: #89b0ae!important;
  margin: 20px

}