.container {
  margin: 20px;
}

.card{
  margin: 0 2% !important;
  border: 5px solid #43d4c1!important;
  /* border-image: linear-gradient(to left, #43d4c1, whitesmoke)!important; */
  border-image-slice: 1!important;
}

@media(max-width: 770px){
  .card {
    margin: 2% 0!important;
  }
}